<template>
  <div class="speech-form">
    <input class="result-input" type="text" v-model="note" disabled />
    <div class="listening-icon" v-if="isListening" />
    <button class="record-button" @click="toggleListening">Click me!</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import useSpeechRecognition from "../composables/useSpeechRecognition";

export default defineComponent({
  name: "SpeechForm",
  props: {
    msg: String
  },
  methods: {},
  setup() {
    const {
      toggleListening,
      note,
      error,
      isListening
    } = useSpeechRecognition();

    return { toggleListening, note, error, isListening };
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.result-input {
  height: 40px;
  width: 400px;
}

.record-button {
  display: block;
  margin: 20px auto;
  height: 30px;
  width: 80px;
  background: transparent;
  outline: none;
  border: solid 1px black;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.1s;

  &:hover {
    background: black;
    color: white;
  }
}

.listening-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: red;
  border-radius: 100%;
}
</style>
